.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.jumbotron {
margin-top:3%;
background-color:rgb(0, 151, 156);
color:rgb(0, 151, 156);}

.dropdown-menu{
background-color:rgb(0, 151, 156);}

.form-group{
margin-left: 25px;
margin-right: 40px;}

.topo{
margin-top:53px;}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

.btn-adm{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 280px;}

.btn-remove{
background-color:rgb(0, 151, 156);
color:black;
margin-right:50px;
margin-top: 1%;}

.btn-responder{
background-color:rgb(0, 151, 156);
color: black;
margin-top: 1%;}

.cor{
	color:rgb(0, 151, 156);
}

