.top{height:45px;}

.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse{
background-color:rgb (175,192,255);
border-color:rgb (175,192,255)
}
.navbar-collapse{
color:rgb(0, 151, 156);
font-size:large;
border-color:rgb (175,192,255);
background-color:rgb (175,192,255);}

.row .slide {
margin-top:30px;
margin-left:0px;
margin-right:0px;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.perfil {  
margin-right:10px;
}

.btn-sucess{
background-color:rgb (175,192,255);
color:black;
margin-left: 50px;}

/*Muda a cor das labels*/
.jumbotron {
margin-top:10%;
background-color:rgb (175,192,255);
color:rgb(0, 151, 156);
font-weight:900;}


/*Mudar a cor do título do cadastro*/
.cadastro{
text-align:center;
color: rgb(0, 151, 156) ;
}

.cor{
color:rgb(0, 1, 15);}

.dropdown-menu{
background-color:#222222;}

.form-group{
margin-left: 25px;
margin-right: 40px;}

.col-sm-10{
margin-left: 40px;
margin-right: 60px;} 
    
/* Mudar a cor do botão de cadastro*/    
.btn-cadastro{
background-color:rgb (175,192,255);
color:rgb(0, 151, 156);
margin-left: 70%;
font-size: 20px;
}

.option{
color: black;}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

/*Cor do rodapé */
.bg{
background-color:rgb (175,192,255);}

.btn-problemas{
background-color:rgb (175,192,255);
color:rgb(0, 151, 156);
margin-left: 130px;}

.cor{
color:rgb(0, 151, 156);}

.btn-sucess{
background-color:rgb (175,192,255);
}
