.brand{
height:46px;
margin-bottom:0px;}

.navbar navbar-default navbar-fixed-top{
opacity:0.5; ;
}

.menu{
opacity:0.5 !important;
}

.menu_nome{
color: rgb(0, 151, 156);
font-weight:900;
font-size:20px;
}

.menu_nome:hover{
background-color: rgb(0, 151, 156) !important;
color: white;
font-weight:900;
font-size:20px;
}
.marca{
padding-left:10px;}

.navbar-brand{ 
margin-top:-8px;}
.perfil{  
margin-right:10px;
}
