.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.jumbotron {
margin-top:0%;
background-color:#101010;
color:rgb(0, 151, 156);}

.dropdown-menu{
background-color:rgb(0, 151, 156);
}


.topo{
margin-top:53px;}

.btn-group-justified{margin-left:0px;}

.btn-informacoes{
background-color:rgb(0, 151, 156);}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

h1{
color:rgb(0, 151, 156);}

.btn-mais{
border-radius:50%;
text-align:center;
height:80px;
width:80px;
font-size:40px;
position:absolute;
left:48%;
background-color:rgb(0, 151, 156);}
