.top{height:45px;}

.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.dropdown-menu{
background-color:rgb(152, 192, 193);}

.row .slide {
margin-top:30px;
margin-left:0px;
margin-right:0px;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.perfil {  
margin-right:10px;
}

.btn-sucess{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50px;}

.jumbotron {
    margin-top:10%;
    background-color:#101010;
    color:rgb(0, 151, 156);}

.btn-editar{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 15%;
margin-top: 8%;
}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;}

.bg{
background-color:#101010;}

.dropdown-menu{
background-color:rgb(0, 151, 156);}