.top{height:45px;}

.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.dropdown-menu{
background-color:rgb(0, 151, 156);}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.perfil{  
margin-right:10px;}

.topo{
margin-top:53px;}

.btn-group-justified{
margin-left:0px;}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

.jumbotron {
margin-top:10%;
background-color:#101010;
color:rgb(0, 151, 156);}

.passo{
margin-left: 5%;}

.jumboblue{
background-color:rgb(0, 151, 156);
color:#101010;}

.margintop{
margin-top: -3%;}
