.top{
height:5%;}

.brand{
height:46px;
margin-bottom:0px;}

.box-carousel{
width:100%;
padding-right:0;
padding-left:0;
/*margin-top:0;*/
margin-top:-20px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.row .slide{
margin-top:30px;
margin-left:0px;
margin-right:0px;}

.marca{
padding-left:10px;}

.navbar-brand{ 
margin-top:-8px;}

.perfil{  
margin-right:10px;}

.sobre{
margin-top:10px;
background-color:#101010;
color:rgb(0, 151, 156);}

.btn-sucess{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 50px;}

.jumbotron{
background-color:#101010;
color:rgb(0, 151, 156);
margin-right:0px;
margin-left:0px;}


.btn-noticia{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 130px;}

.cor{
color:rgb(0, 151, 156);}

.carousel-caption{
color:black;
}

.dropdown-menu{
background-color:#222222;
color:color:rgb(0, 151, 156);}

.form-group{
margin-left: 25px;
margin-right: 40px;}

.col-sm-10{
margin-left: 40px;
margin-right: 60px;} 

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;
color:rgb(0, 151, 156);}

.bg{
background-color:#101010;}

.banner-proj{
margin-right:0px;
margin-left:0px;}

.img-circle{
margin-left:60px;}

.noticias{
margin-top:3%;
color:rgb(0, 151, 156);}

.img-banner{
 width: 100%;
 }

.img-banner-b{
width: 50%;
}
.banner-b{
    background-image: url("../img/index/3.jpg");
}
.carousel-inner{

	height:100%;
}

.altura{
	margin-bottom:3%;
}

.altura2{
	margin-bottom:13%;
	 text-shadow: 2px 2px rgb(0, 151, 156);
}

.altura3{
	margin-bottom:15%;
}

.borda {
    text-shadow: 2px 2px rgb(0, 151, 156);
}
.btn-sucess{
	background-color:rgb(0, 151, 156);
}

.margintop{
margin-top:20%;
}
