.top{height:45px;}

.brand{height:46px;
margin-bottom:0px;}

.navbar-inverse .navbar-nav>li>a{
color:rgb(0, 151, 156);
font-size:large;}

.marca {
padding-left:10px;}

.navbar-brand { 
margin-top:-8px;}

.topo{
margin-top:53px;}

.dropdown-menu{
background-color:rgb(0, 151, 156);}

.btn-group-justified{
margin-left:0px;}

.btn-sensores{
background-color:rgb(0, 151, 156);}

.btn-excluir{
background-color:#E21414;}

.btn-mais{
border-radius:50%;
text-align:center;
height:80px;
width:80px;
font-size:40px;
position:absolute;
left:48%;
background-color:rgb(0, 151, 156);}

.patrocinio{
margin-left:1165px;}

.patrocinio2{
margin-left:450px;}

.patrocinio3{
margin-left:290px;}

.copyright{
margin-left: 480px;}

.bg{
background-color:#101010;}

.btn-entrar{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 40px;}

.btn-excluir{
background-color:rgb(0, 151, 156);
color:black;
margin-left: 25px;}



